#userInput {
    width: 45%;
    margin: 1rem auto;
    background-color: rgb(247, 249, 249);
}


.info-box {
    background-color: #c6c7b4;
    text-align: left;
    padding: 1rem;
    margin: 1rem;
    font-weight: 800;
}

body {
    background-color: rgb(116, 98, 219);
}